/* styles.css */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Importar a fonte Eudoxus Sans do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Eudoxus+Sans:wght@400;700&display=swap');

/* Estilo básico do corpo */
body {
    font-family: 'Eudoxus Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fundo claro */
}

/* Estilo para o cabeçalho fixo */
header {
    background-color: #ffffff; /* Fundo do cabeçalho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Estilo para o título principal */
.title {
    font-size: 3rem; /* Tamanho do título */
    font-weight: 700;
    color: #333; /* Cor do texto */
    text-align: center;
    margin: 0; /* Remove margem padrão */
    line-height: 1.2; /* Espaçamento entre linhas */
}

/* Estilo para a imagem da estrela */
.star {
    width: 2rem;
    vertical-align: middle;
    margin-left: -10px; /* Ajusta a posição horizontal */
}

/* Define a altura total da seção para preencher a tela */
section {
    min-height: 80vh; /* Altura mínima da seção */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding: 20px; /* Adiciona espaçamento */
}


.seta {
    max-width: 150%; /* A imagem da seta se ajusta ao container */
    margin-top: -10%; /* Aumenta a margem superior para mover a seta para baixo */

    display: block; /* Remove espaços ao redor da imagem */
    width: 300; /* Ajusta a largura da seta para aumentar o seu tamanho */
}



/* Ajuste do texto nas colunas */
.text-start {
    text-align: left; /* Garante o alinhamento à esquerda */
}

.text-center {
    display: flex; /* Ativa flexbox */
    flex-direction: column; /* Alinha verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}

/* Estilo para o h5 */
.description {
    font-size: 1.2rem; /* Tamanho do texto da descrição */
    color: #666; /* Cor do texto da descrição */
    margin-top: 1rem; /* Espaço acima da descrição */
}

/* ====== Estilos para Mobile ====== */

@media (max-width: 768px) {
    .seta {
        max-width: 10%; /* Ajusta a largura da seta para ocupar até 80% da tela */

    }

    .title {
        font-size: 2.5rem; /* Tamanho do título */
    }

    .star {
        width: 1.5rem; /* Tamanho da estrela */
    }

    .description {
        font-size: 1rem; /* Tamanho da descrição */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }
}
